


/* 텍스트 클래스 선언문*/
.red { color:red;}
.blue { color:blue;}
.gold { color:gold;}
.text_center { text-align:center; }
.text_right { text-align:right;}
.text_lieft { text-align:left;}
/*====================================*/
.borderline { border: 1px solid black;} 
.page { width:100%; height:740px; margin:0px;}
.main_image
{
    display:block;
    margin:auto;
    width:600px;
    height:auto;
    opacity: 0.5;

    
    
}
body h1, #TEAM h2, #MEMBER h2, #footer h2 { color : gold; opacity: 0.7; text-shadow: 2px 2px 2px black;}
#head, #TEAM, #MEMBER, #footer
{
    background-image:url("./img/mainIMG2.JPG");
    background-size:100% 100%;
    
}
#menu
{
    border:none;
    color:white;
    width:100px;
    height:50px;
    position:absolute;
    right:5%;
    top:3%;
    opacity: 0.7;
}
#list a, #list a:link, #list a:visited 
{
    text-decoration: none;
    color:white;
    
}
#menu>p { margin-bottom:6px;}
#list
{
    
    float:left;
    position:absolute;
    list-style:none;
    padding-left:0px;
    padding-right:0px;
    margin-top:8px;
    margin-left:-2px;
}
#menu:hover
{
    
    
    font-weight: bold;
    transition: 0.2s;
}
#menu:hover .content                   
{
   
    display:block;
    transition: 0.2s;
    
}

.content                                                                    
{
    display:none;
    text-align:center;
    padding:17px;
    background-color:lightgray;
    margin-bottom:1px;
    cursor:pointer;
    
}

.content:hover
{
    
    transition: 0.2s;
    outline:3px solid gold;
    background-color:gray;
    color:white;
    font-weight: bold;
}